:root {
  --color-1: #2e5096;
  --color-2: #fbfbfb;
  --color-3: #313131;
  --color-4: #1c1c1c;
  --color-5: #d61c1c;
  
  --news-cycle: "News Cycle", sans-serif;
  --news-reader: "Newsreader", serif;
  --roboto: "Roboto", sans-serif;
}

body {
  font-family: var(--roboto);
  font-weight: 400;
  font-style: normal;
  background-color: var(--color-2);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
